body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    color: #333;
    flex-direction: column;
}

.dropdown {
    width: 50%; /* Установить ширину в 80% от родительского элемента */
    max-height: 340px; /* Ограничение по максимальной высоте, если необходимо */
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none; /* Это свойство необходимо для скрытия элемента по умолчанию */
    position: absolute;
    background-color: white;
    z-index: 1000;
    resize: vertical; /* Позволяет изменение размера */
    overflow: auto; /* Позволяет прокрутку при изменении размера */
    top: 100%; /* Настройте расположение по вашему усмотрению */
    right: 0%; /* Настройте расположение по вашему усмотрению */
}


.dropdown-item {
    font-size: 14px;
    border: 1px solid #ddd;
    padding: 5px;
    cursor: pointer;
    color: #4E995B;

    &:hover {
        background-color: #f0f0f0;
    }
}


.highlight {
    background-color: #DCEDDE !important;
    transition: background-color 0.1s;
}

#search-container {
    position: relative;
    width: 300px;
}



.container {
    display: flex;
    width: 100%;
    flex-grow: 1;
    min-height: 100vh; /* Минимальная высота — вся высота окна */
    height: auto; /* Автоматическая высота для роста при прокрутке */
}

.left-pane {
    background-color: #ffffff;
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
    border-right: 2px solid #ddd;
    min-height: 100vh; /* Минимальная высота — вся высота окна */
    height: auto; /* Высота адаптируется под контент */
}

.right-pane {
    position: fixed; /* Оставляем фиксированное позиционирование */
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh; /* Гарантируем, что правая панель занимает всю высоту окна */
    background-color: #333;
    color: #fff;
    box-sizing: border-box;
    overflow: hidden; /* Включаем прокрутку внутри правой панели, если контент выходит за пределы */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-pane img {
    max-width: none; /* Разрешаем изображению быть больше контейнера */
    cursor: grab;
    transition: transform 0.3s ease; /* Переход для плавного масштабирования */
    position: absolute; /* Абсолютное позиционирование */
}

.right-pane img.zoomed {
    transform: scale(2); /* Масштабирование изображения в 2 раза */
    cursor: move; /* Курсор для перетаскивания */
}

/* Стили для формы */
form {
    background-color: #ffffff; /* Белый фон формы */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

/* Стили для fieldset и legend */
fieldset {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 0.5em; /* Уменьшаем внешний отступ */
    padding: 0.5em; /* Уменьшаем внутренний отступ */
    box-sizing: border-box;
    overflow: hidden;
    background-color: #f9f9f9;
    position: relative; /* Добавить относительное позиционирование к родительскому элементу */
}

legend {
    padding: 0 10px;
    font-weight: bold;
    margin-bottom: 0.5em; /* Уменьшаем нижний отступ */
    color: #4E995B; /* Цвет для заголовков */
}

/* Стили для label */
label {
    display: inline-block;
    margin-bottom: 0.2em; /* Уменьшаем сам отступ */
    color: #555;
    word-wrap: break-word;
    font-size: 14px; /* Оставляем размер шрифта более компактным */
    margin-right: 10px; /* Отступ справа для отступа от поля */
    width: 210px; /* Достаточная ширина для лучшего выравнивания */
    text-align: right; /* Выравнивание текста по правому краю */
    white-space: nowrap; /* Убираем переносы слов */
}

.input-group {
    position: relative; /* Добавить относительное позиционирование к родительскому элементу */
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    width: 100%;
}

.input-group label {
    flex-shrink: 0; /* Запрещаем сжатие метки */
    width: 220px; /* Задаем одинаковую ширину для всех меток */
    margin-right: 10px; /* Отступ между меткой и полем ввода */
}

.input-group input {
    flex-grow: 1;
}

.input-group input#last_total_with,
.input-group input#last_total_nds {
    color: #96AC99;
    max-width: 220px;
    flex-grow: 1;
    margin-left: 0.5em;
}

.input-group.opacity-50 {
    opacity: 0.5;
}

/* Стили для input и textarea */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
select,
textarea {
    font-family: Monaco, monospace; /* Устанавливаем шрифт monospace */
    width: calc(100% - 190px); /* Корректируем ширину, учитывая ширину label и отступ */
    padding: 6px; /* Уменьшаем внутренний отступ */
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    border-color: #80bdff;
    outline: none;
}

textarea {
    height: auto;
    min-height: 20px;
    resize: none;
    overflow-y: hidden;
}

input[type="checkbox"] {
    margin-right: 0.5em;
}


/* Общие стили для кнопок */
button {
    background-color: #4E995B; /* Темно-зеленый цвет для кнопки */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 0em; /* Уменьшенный верхний отступ */
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

#save-button {
    padding: 10px 10px
}

.button-container {
    display: flex;
    justify-content: space-between;
}

#save-button:hover {
    opacity: 0.8; /* Снижение непрозрачности до 80% при наведении */
}

#save-button:active {
    transform: scale(0.95); /* Уменьшение размера на 5% при нажатии */
}

/* Стили для кнопки "Добавить услугу" */
button[onclick="addService(this)"] {
    font-family: 'Consolas', Courier, monospace;
    text-align: center;
    font-size: 18px;
}

button[onclick="addService(this)"]:hover {
    opacity: 0.8; /* Снижение непрозрачности до 80% при наведении */
}

button[onclick="addService(this)"]:active {
    transform: scale(0.95); /* Легкое уменьшение при нажатии */
}

/* Стили для кнопки "Удалить услугу" */
button[onclick="removeService(this)"] {
    font-family: 'Consolas', Courier, monospace;
    text-align: center;
    font-size: 18px;
    background-color: #AD747F; /* Красный фон */
}

button[onclick="removeService(this)"]:hover {
    opacity: 0.8; /* Снижение непрозрачности до 80% при наведении */
}

button[onclick="removeService(this)"]:active {
    transform: scale(0.95); /* Легкое уменьшение при нажатии */
}

.error {
    background-color: #f2dce0;
}

.green-background {
    background-color: #A5F0B0;
}

.lightgreen-background {
    background-color: #edfcef;
}

option {
    background-color:  #ffffff;
}

.Типпоискасделки {
    pointer-events: none;
    background-color: #e9ecef; /* светло-серый цвет для индикации, что поле нередактируемо */
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .left-pane,
    .right-pane {
        width: 100%;
        height: auto; /* Сбрасываем высоту для мобильных устройств */
    }

    form {
        width: 95%;
        padding: 15px;
    }

    label {
        width: 120px; /* Уменьшаем ширину label для мобильных устройств */
    }

    input[type="text"],
    input[type="number"],
    input[type="date"],
    input[type="email"],
    select,
    textarea {
        width: calc(100% - 130px); /* Корректируем ширину для мобильных устройств */
    }
}


/* --- SWITCH --- */

.switch {
  margin: 0em;
  position: relative;
  display: flex; /* Flexbox for aligning text and switch */
  align-items: center; /* Vertically align items */
  width: auto; /* Make width adaptive */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: relative;
  cursor: pointer;
  width: 60px;
  height: 34px;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4E995B;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Styles for the text next to the switch */
.switch-label {
  margin-right: 10px; /* Space between the text and the switch */
  font-size: 16px;
  color: #333;
  vertical-align: middle;
}

/* Styles for the DETAILS HEADER */
.details {
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-radius: 8px;
    background-color: #f0f0f0;
    text-align: left;
    padding: 25px;
    margin-bottom: 10px;
  border: 1px solid #ddd;
}

detailsLH1 {
    font-weight: bold;
    margin-bottom: 0.5em; /* Уменьшаем нижний отступ */
    color: #4E995B; /* Цвет для заголовков */
}



.input-group-details {
    display: flex;
    align-items: flex-start; /* Выравнивание элементов по началу */
    margin-bottom: 0.5em;
    width: 100%;
}

.input-group-details label {
    flex-shrink: 0; /* Запрещаем сжатие метки */
    width: 100px; /* Ограничиваем ширину метки */
    margin-right: 10px; /* Отступ между меткой и textarea */
    text-align: left; /* Выравнивание текста метки по левой стороне */
    white-space: nowrap; /* Убираем перенос текста */
    line-height: 1.5; /* Делаем высоту строки комфортной */
}

.input-group-details textarea {
    flex-grow: 1; /* Поле textarea растягивается, занимая оставшееся место */
    background-color: AliceBlue;
    width: auto; /* Убираем фиксированную ширину */
    height: auto; /* Автоматическая высота */
}

.input-group-details select {
    background-color: AliceBlue;
    width: 100%; /* Убираем фиксированную ширину */
}
